body {
    text-align: left;
    font-family: 'Arial';
    color:blue;
    font-size: 16px;
}
#cabecera {
    background-color: #33a;
    box-shadow :0px 2px 200px 0px rgba(0,0,0,0.75);
    color:white;
    font-weight: bold;
    padding:0.5em;
    display: flex;
    align-items: center;
}
#cabecera img {
    width: 50px;
    margin-right: 15px;
}
#cabecera #tagline {

padding: 0 0 0 1em;
font-weight: normal;
font-size: 0.9em;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;

}
#container h1 {
    font-size: 20px;

}
#post {
    padding: 1em;
}